/* Forms */
#submitContact {
  width: 150px;
  border-radius: 20px;
  background-color: #002936;
  color: #fff;
  border: none;
  text-align: center;
}

.contact-form {
  padding: 0 4em 0 4em;
}

.missing-fields {
  margin: 0 0 1em 5em;
}

.missing-fields p {
  padding: 0 0 1em 0em;
  color: red;
}

.missing-fields li {
  color: red;
}

fieldset p {
  display: flex;
  padding: 0.5em 0em;
}

label {
  text-align: right;
  margin: 0.6em 0.6em 0 0;
  width: 300px;
  padding: 0.2em;
}

input,
select,
textarea {
  margin: 0.5em 0 0 0;
}

input,
fieldset,
textarea,
select {
  border: 1px solid #ccc;
  padding: 0.4em;
}

legend {
  color: #666;
}

input[type="submit"],
input[type="radio"] {
  margin-right: 20px;
  width: 120px;
}

input[type="submit"] {
  margin-bottom: 20px;
  background-color: rgb(4, 172, 237);
  border-radius: 5px;
}
